%h1 All Issues

=partial "issues/_table", locals: { issues: @issues }

.text-center
  %ul.pagination
    -(1..@pagination.last_page).each do |page|
      %li{class: [ @pagination.current_page + 1 == page ? "active" : "" ]}
        %a{href: "?page=#{page}" }=page
